.theme-changer {
  
  font-family: Arial;
  padding: 3px 20px 20px 20px;
  border-radius: 10px ;
  width: 300px;
     background-color:rgb(243, 243, 243);
  
}
.theme-changer h4{
      color: rgb(172, 172, 172);
    font-weight: bold;
    cursor: pointer;
      font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.3s ease;
}

.color-options {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 12px;
  margin-top: 10px;
}

.color-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.color-circle:hover {
  transform: scale(1.1);
  border-color: #333;
}



@media (max-width:450px) {
  .theme-changer {
    
   
    width: 200px;
   
    
  }
    .color-options {
      
      grid-template-columns: repeat(4,1fr);
    
    }
}